body{
    background-color: black;
    text-align: center;
    font-family: Verdana;
}


.header-1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

 a{
    font-size: 16px;
    color: aquamarine;
}
video{
    object-fit: contain;
}
.header-2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p{
    font-size: 21px;
    color: gray;
}

    
.social{
    display: block;
    justify-content: center;
}
.footer{
    text-align: right;
    font-size: 21px;
    color: gray;
}

